# YOLOv5 🚀 requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------

# base deps
protobuf==3.20.3

# utils
psutil>=5.9.0
ruamel.yaml>=0.17.21
scipy>=1.9.3
tqdm>=4.64.1
opencv-python>=4.5.5.64
fast-histogram>=0.11
numpy<=1.26.4
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
thop>=0.1.1  # FLOPs computation
matplotlib>=3.2.2
gitpython
ipython  # interactive notebook

# Logging ---------------------------------------------------------------------
tensorboard>=2.4.1
# clearml>=1.2.0
# comet

# Plotting --------------------------------------------------------------------
pandas>=1.1.4
seaborn>=0.11.0

# base
onnx==1.14.1
onnxoptimizer==0.3.8
onnxruntime==1.16.0
torch>=1.13.1,<=2.1.0
tensorflow==2.8.1